body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/cuprum.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/cuprum.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/cuprum.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/cuprum.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/cuprum.svg#cuprum') format('svg'); /* Chrome < 4, Legacy iOS */
}

a {
	text-decoration: none;
}

.modal {
	display: none
}
.modal-cart {
	display: none;
}


/*Стили для header*/
.button {
	min-width: 220px;
	height: 38px;
	background-color: #ee3643;
	padding: 10px 40px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.main-header {
	background-color: #f4f7f9;
}

.header-top {
	background-color: #33445a;
}

.header-top a {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.main-title {
	color: #ee3643;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
}

.phone {
	width: 270px;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 70px;
  border: 3px solid #ffffff;
}	

.phone a {
	font-size: 21px;
	line-height: 18px;
	font-family: "Cuprum",  sans-serif;
	color: #fb463c;
}

.address {
	width: 250px;
	height: 13px;
	color: #32425c;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

/*кнопки в шапке*/
.user-area a {
	height: 20px;
	color: #000000;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	padding: 14px 27px 15px 48px;
	margin-left: 10px;

	background: #ffffff;
}


.site-navigation {
  list-style: none;


	background-color: #32425c;
}

.site-navigation a {
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
}

/*Стили для main */
.about-company-title, 
.contacts-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
	font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
}

.about-company-button {
	width: 220px;
	height: 38px;
	background-color: #ee3643;
	padding: 10px 40px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.trans-company li {
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
} 

.contacts p {
	font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
}

.contacts-button {
	width: 300px;
}

footer {
	background-color: #32425c;
}

.addres-phone li {
	color: #f3f7f9;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	list-style: none;
}

.addres-phone a {
	color: #f3f7f9;
}

.site-navigation-footer-darken a {
	color: #ffd180;
}

.footer-bottom {
	background-color: #293449;
}

.footer-social ul {
	list-style: none;

}

.footer-bottom p, b { 
  color: #f1f5f7;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer-feedback a {
	color: #ffd180;
}

.footer-developed a {
	color: #ffd180;
}

/*Стили для Каталога*/

.breadcrumbs {
	list-style: none;
	color: #000000;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumbs a {
	color: #000000;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #000000;
}

.perforator-title {
	font-family: Cuprum;
	color: #32425c;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 30px;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.filter-input:hover,
.filter-input:focus {
  color: #000000;
  opacity: 0.8;
}

.filter-button {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.filter-button:hover {
	border: 1px solid #bdc6ca;
}

.card h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
}

.card span {
	color: #999999;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: line-through;
	text-transform: uppercase;
}

.product-list a {
	background-color: #ee3643;
	background: url("../img/catalog/red-button.svg");
}

.buy-bookmark li {
  list-style: none;
}

.buy {
	padding: 10px;
	width: 135px;
	height: 38px;
	box-shadow: inset 0 -3px 0 #367315;
	background-color: #63a63e;
}

.buy a {
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background: none;
}

.buy a:before {
	content: url("../img/icon-cart.svg");
}

.bookmark {
	padding-top: 10px;
	text-align: center;
	width: 135px;
	height: 38px;
	border: 3px solid #63a63e;
}

.bookmark a {
	width: 67px;
	height: 12px;
	color: #32425c;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}
.pagination-list {
  list-style: none;
}

.pagination-item a {
	color: #000000;
  padding: 15px;
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
	color: #ffffff;
  background-color: #ee3643;
}

